.App {
  text-align: center;
  @apply bg-gray-400;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.cityName{
  position: absolute;
  margin-top:20px;
  visibility: hidden;
  font-size: 45px;
  color: #ffffff;
  z-index: 100;

}

.cards{
  transition: ease 0.5s;
  margin-top: 5px;
 
}


.card{
  display: flex;
  width: '100vh';
  /* height: 100vh; */
flex-direction: column;
justify-content: center;
align-items: center;
background-size: cover;
background-position: center;
padding: 10px 50px 10px 50px;
margin: -30px 50px 15px 50px 

}

.card:hover .cityName{
  visibility: visible;
}

.cards:hover{
  background-color: rgb(255, 255, 255);
  opacity: 0.8;
  transform: scale(1.1);
}


/* .nav{
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
} */


.pictures{
  margin-top:50px;
  
  
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* .description{
  display: flex;
  align-content: flex-start;
  height: 90px;
  width: 350px;
  
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
